<app-page-layout
  (handleAddOrEditButton)="registerNewManager()"
  [openAddDialogButtonText]="
    'common.sales_managers.add_sales_manager' | translate
  "
  *ngIf="vm$ | async as vm"
>
  <ng-container filter>
    <form
      *ngIf="filterForm"
      class="grid flex-1 grid-cols-1 gap-4 md:grid-cols-3"
      [formGroup]="filterForm"
    >
      <section class="flex flex-col gap-4">
        <mat-form-field>
          <mat-label>{{
            "common.sales_managers.filter_by_username" | translate
          }}</mat-label>
          <input
            class="border border-primary"
            type="text"
            matInput
            [formControl]="filterForm.controls.username"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "common.sales_managers.filter_by_name" | translate
          }}</mat-label>
          <input
            class="border border-primary"
            type="text"
            matInput
            [formControl]="filterForm.controls.name"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "common.sales_managers.filter_by_surname" | translate
          }}</mat-label>
          <input
            class="border border-primary"
            type="text"
            matInput
            [formControl]="filterForm.controls.surname"
          />
        </mat-form-field>
      </section>

      <section class="flex flex-col gap-4">
        <mat-form-field (click)="pickerStart.open()">
          <mat-label>
            {{
              "common.sales_managers.filter_by_registration_start" | translate
            }}
          </mat-label>
          <input
            matInput
            [matDatepicker]="pickerStart"
            readonly
            [formControl]="filterForm.controls.registrationDateStart"
            placeholder="MM/DD/YYYY"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerStart"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>

        <mat-form-field (click)="pickerEnd.open()">
          <mat-label>
            {{ "common.sales_managers.filter_by_registration_end" | translate }}
          </mat-label>
          <input
            matInput
            [matDatepicker]="pickerEnd"
            readonly
            [formControl]="filterForm.controls.registrationDateEnd"
            placeholder="MM/DD/YYYY"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerEnd"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      </section>

      <section class="flex flex-col gap-4">
        <mat-form-field>
          <mat-label>{{
            "common.sales_managers.filter_by_revenue_min" | translate
          }}</mat-label>
          <input
            class="border border-primary"
            type="number"
            matInput
            [formControl]="filterForm.controls.totalSalesRevenueFrom"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{
            "common.sales_managers.filter_by_revenue_max" | translate
          }}</mat-label>
          <input
            class="border border-primary"
            type="number"
            matInput
            [formControl]="filterForm.controls.totalSalesRevenueTo"
          />
        </mat-form-field>
      </section>
    </form>
  </ng-container>

  <ng-container items>
    <app-card
      *ngFor="let item of vm.salesManagers"
      [headerText]="item.username"
      [headerSubText]="item.name + ' ' + item.surname"
      [hideDescription]="true"
    >
      <ng-container details>
        <p class="text-end">
          {{ "common.sales_managers.registration_date" | translate }}:
          {{ item.registrationDate | date: "dd/MM/yyyy" }}
        </p>
        <p>
          {{ "common.sales_managers.total_sales_revenue" | translate }}:
          {{ item.totalSalesRevenue | currency }}
        </p>
      </ng-container>

      <ng-container buttons>
        <app-button
          [text]="'common.sales_managers.details' | translate"
          (click)="navigateToManagerDetails(item.id ?? '')"
        />
      </ng-container>
    </app-card>
  </ng-container>
</app-page-layout>
