<main class="flex flex-col gap-4 md:p-0">
  <header class="flex bg-secondary p-4">
    <nav class="flex w-full justify-between">
      <section class="flex gap-4">
        <app-button
          [text]="'Products'"
          [routerLink]="'products'"
          [customClasses]="'bg-transparent border-0'"
        ></app-button>
        <app-button
          [text]="'Sales Managers'"
          [routerLink]="'sales-managers'"
          [customClasses]="'bg-transparent border-0'"
        ></app-button>
      </section>
      <section>
        <app-button
          [text]="'Logout'"
          [customClasses]="'bg-transparent border-0'"
          (click)="handleLogout()"
        ></app-button>
      </section>
    </nav>
  </header>
  <router-outlet />
  <footer class="flex h-10"></footer>
</main>
