<section class="flex flex-col gap-4 p-4">
  <ng-container *ngIf="vm$ | async as vm">
    <section class="flex flex-col justify-between md:flex-row">
      <form class="w-full md:max-w-sm" [formGroup]="filterForm">
        <mat-form-field>
          <mat-label>Filter Products By Name</mat-label>
          <input
            class="border border-primary"
            type="text"
            matInput
            [formControl]="filterForm.controls.filterControl"
          />
        </mat-form-field>
      </form>

      <button
        class="border border-primary p-4"
        (click)="openEditProductDialog()"
      >
        Add Product
      </button>
    </section>
    <section class="grid grid-cols-2 gap-4 md:grid-cols-4">
      <div
        class="flex items-center justify-between border border-primary p-4"
        *ngFor="let item of vm.products"
      >
        <section class="flex flex-col gap-4">
          <div>Name: {{ item.name }}</div>
          <div>Price: {{ item.price }}</div>
          <div>Quantity: {{ item.quantity }}</div>
        </section>
        <section class="flex flex-col gap-4">
          <button class="border border-primary p-4">Edit</button>
          <button
            class="border border-primary p-4"
            (click)="deleteProduct(item.id ?? '')"
          >
            Delete
          </button>
        </section>
      </div>
    </section>
  </ng-container>
</section>
