<app-page-layout
  *ngIf="vm$ | async as vm"
  [filterInputLabel]="'Filter Products by Name'"
  [openAddDialogButtonText]="'Add Product'"
  (openAddDialog)="openEditProductDialog()"
>
  <ng-container filter>
    <form
      *ngIf="filterForm"
      class="w-full md:max-w-sm"
      [formGroup]="filterForm"
    >
      <mat-form-field>
        <mat-label>Filter Products by Name</mat-label>
        <input
          class="border border-primary"
          type="text"
          matInput
          [formControl]="filterForm.controls.filterControl"
        />
      </mat-form-field>
    </form>
  </ng-container>

  <ng-container items>
    <app-card
      *ngFor="let item of vm.products"
      [headerText]="item.name"
      [headerSubText]="item.category"
    >
      <ng-container description>
        <p>{{ item.description }}</p>
      </ng-container>

      <ng-container details>
        <p>Price: {{ item.price | currency }}</p>
        <p class="text-gray-500">{{ item.quantity }} left in stock</p>
      </ng-container>

      <ng-container buttons>
        <app-button text="Edit" (onClick)="openEditProductDialog(item)" />
        <app-button text="Delete" (onClick)="deleteProduct(item.id ?? '')" />
      </ng-container>
    </app-card>
  </ng-container>
  <ng-container pagination>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="paginationLength$ | async"
      [pageSize]="(paginationSubject$ | async)?.pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[10, 20, 40, 80, 100]"
      [pageIndex]="(paginationSubject$ | async)?.pageIndex"
    ></mat-paginator
  ></ng-container>
</app-page-layout>
