* {
  box-sizing: border-box;
  @apply rounded-md;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  @apply w-full;
}

:root {
  --primary: red;
}

button,
a {
  @apply cursor-pointer;
  &:disabled {
    opacity: 0.5 !important;
  }
  &:hover {
    @apply opacity-80;
  }
}
