<section class="my-10 flex flex-col items-center justify-center">
  <form
    [formGroup]="formGroup"
    class="flex w-full max-w-sm flex-col gap-6 border border-black px-4 py-6"
  >
    <section class="flex justify-center">
      <h1 class="text-3xl font-bold">Login</h1>
    </section>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="formGroup.get('username')?.hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
        Password minimal Length is 8
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
        Password minimal Length is 8
      </mat-error>
    </mat-form-field>

    <app-button
      text="Login"
      [disabled]="formGroup.invalid"
      customClasses="w-full"
      (onClick)="handleLogin()"
    ></app-button>
  </form>
</section>
