<app-login-and-register-layout
  [buttonDisabled]="formGroup.invalid"
  [formGroup]="formGroup"
  [buttonText]="'common.authorization.register' | translate"
  (handleClick)="handleRegister()"
  *ngIf="vm$ | async as vm"
>
  <ng-container content>
    <section class="flex justify-center">
      <h1 class="text-3xl font-bold">
        {{ "common.authorization.manager_registration" | translate }}
      </h1>
    </section>

    <mat-form-field>
      <mat-label> {{ "common.authorization.username" | translate }}</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="formGroup.get('username')?.hasError('required')">
        {{ "common.authorization.username" | translate }}
        {{ "common.authorization.required" | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
        {{ "common.authorization.username" | translate }}
        {{ "common.authorization.minimal_length" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label> {{ "common.authorization.name" | translate }}</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
        {{ "common.authorization.name" | translate }}
        {{ "common.authorization.required" | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">
        {{ "common.authorization.name" | translate }}
        {{ "common.authorization.minimal_length" | translate }}4
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "common.authorization.surname" | translate }}</mat-label>
      <input matInput formControlName="surname" />
      <mat-error *ngIf="formGroup.get('surname')?.hasError('required')">
        {{ "common.authorization.surname" | translate }}
        {{ "common.authorization.required" | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.get('surname')?.hasError('minlength')">
        {{ "common.authorization.surname" | translate }}
        {{ "common.authorization.minimal_length" | translate }}4
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label> {{ "common.authorization.password" | translate }}</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
        {{ "common.authorization.password" | translate }}
        {{ "common.authorization.required" | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
        {{ "common.authorization.password" | translate }}
        {{ "common.authorization.minimal_length" | translate }}4
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="vm.error as error">
      {{ error | json }}
    </mat-error>
  </ng-container>
</app-login-and-register-layout>
