<app-dialog-layout (close)="close()">
  <form *ngIf="data.form as form" [formGroup]="form">
    <mat-form-field class="mb-4">
      <mat-label>Name Of Product</mat-label>
      <input matInput formControlName="name" latinLettersOnly />
      <mat-hint>Input restricted to Latin letters only.</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price Of Product</mat-label>
      <input
        placeholder="Price in $ currency"
        matInput
        formControlName="price"
        type="number"
        selectOnFocus
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select an Categiry option</mat-label>
      <mat-select
        disableRipple
        formControlName="category"
        placeholder="Select Category"
        [value]="form.controls.category?.value"
      >
        <mat-option *ngFor="let item of categories" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <section class="flex flex-col items-end justify-center">
      <section class="flex justify-end">
        <p class="font-bold">{{ form.controls.quantity?.value ?? 0 }}</p>
      </section>
      <section class="flex items-center gap-4">
        <p>Quantity Of Product:</p>
        <mat-slider
          min="1"
          max="100"
          step="1"
          showTickMarks
          discrete
          [displayWith]="formatLabel"
        >
          <input
            matSliderThumb
            formControlName="quantity"
            [value]="form.controls.quantity?.value"
          />
        </mat-slider>
      </section>
    </section>

    <mat-form-field>
      <mat-label>Description Of Product</mat-label>
      <textarea
        placeholder="Provide description of product if necessary"
        formControlName="description"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>

    <section class="flex items-center justify-end">
      <app-button [text]="'Submit'" (onClick)="close(true)"></app-button>
    </section>
  </form>
</app-dialog-layout>
