<section *ngIf="vm$ | async as vm" class="p-4">
  <app-details-card
    *ngIf="vm.manager as manager"
    [header]="manager.username"
    [subText]="manager.name + ' ' + manager.surname"
  >
    <ng-container items>
      <section class="flex flex-col gap-4">
        <section class="flex justify-between">
          <h1 class="font-bold">{{ "Products Sold" | translate }}:</h1>
          <p>
            {{ "common.sales_managers.total_sales_revenue" | translate }}:
            <span class="font-semibold text-red-500">
              {{ manager.totalSalesRevenue | currency }}
            </span>
          </p>
        </section>
        <section class="grid grid-cols-3 gap-4">
          <app-card
            *ngFor="let item of manager.products"
            [headerText]="item.name"
            [headerSubText]="item.category"
          >
            <ng-container details>
              <p>
                {{ "common.sales_managers.income" | translate }}:
                <span class="font-semibold text-red-500">
                  {{ item.price | currency }}
                </span>
              </p>
              <p class="text-gray-500">
                {{ "common.sales_managers.sale_date" | translate }}:
                {{ item.saleDate | date: "dd/MM/yyyy HH:mm" }}
              </p>
            </ng-container>
          </app-card>
        </section>
      </section>
    </ng-container>
  </app-details-card>
</section>
