<section class="flex flex-col gap-4 p-4">
  <section class="flex flex-col justify-between gap-4" [ngClass]="">
    <section class="flex flex-col gap-4">
      <h3>Filters</h3>
      <ng-content select="[filter]"></ng-content>
    </section>

    <app-button
      [text]="openAddDialogButtonText"
      class="flex justify-end"
      [customClasses]="'w-full md:w-auto'"
      (onClick)="handleAddOrEditButton.emit()"
    ></app-button>
  </section>
  <section class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <ng-content select="[items]"></ng-content>
  </section>
  <section class="flex justify-center">
    <ng-content select="[pagination]"></ng-content>
  </section>
</section>
