<section class="flex flex-col gap-4 p-4">
  <section class="flex flex-col justify-between md:flex-row">
    <form
      *ngIf="filterForm"
      class="w-full md:max-w-sm"
      [formGroup]="filterForm"
    >
      <mat-form-field>
        <mat-label>Filter Products By Name</mat-label>
        <input
          class="border border-primary"
          type="text"
          matInput
          [formControl]="filterForm.controls.filterControl"
        />
      </mat-form-field>
    </form>

    <app-button
      text="Add Product"
      (onClick)="openAddDialog.emit()"
    ></app-button>
  </section>
  <section class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <ng-content select="[items]"></ng-content>
  </section>
  <section class="flex justify-center">
    <ng-content select="[pagination]"></ng-content>
  </section>
</section>
