<app-login-and-register-layout
  [buttonDisabled]="formGroup.invalid"
  [formGroup]="formGroup"
  (handleClick)="handleRegister()"
>
  <section class="flex justify-center">
    <h1 class="text-3xl font-bold">Manager Registration</h1>
  </section>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
    <mat-error *ngIf="formGroup.get('username')?.hasError('required')">
      Username is required
    </mat-error>
    <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
      Username minimal Length is 8
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
      Name is required
    </mat-error>
    <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">
      Name minimal Length is 8
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname" />
    <mat-error *ngIf="formGroup.get('surname')?.hasError('required')">
      Surname is required
    </mat-error>
    <mat-error *ngIf="formGroup.get('surname')?.hasError('minlength')">
      Surname minimal Length is 8
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
      Password minimal Length is 8
    </mat-error>
  </mat-form-field>
</app-login-and-register-layout>
